body {
    background-color: #1F2533;
}

.car-rent {
    width: 20vw;
    transition: transform 0.3s;
    border: none;
}

.car-rent:hover {
    transform: translateY(-5px) ;
}

#contact-page {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), url("../images/audi_1.jpg");
}

#about-page > header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url("../images/business.jpg");
      background-size: cover;
      height: 50vh;
}

@media screen and (max-width: 1400px) {
    h1,h2 {
        text-align: center;
    }
    .car-rent-container {
        justify-content: center;
    }

    .car-rent {
        width: 30vw;
        
    }
}

@media screen and (max-width: 900px) {
    .car-rent {
        width: 70vw;
    }
}

@media screen and (max-width: 500px) {
    .car-rent {
        width: 90vw;
    }
}