body {
    background-color: #1F2533;
}

#product-search {
	font-size: 1rem;
	background-color: #F1F1F1;
	border-radius: 15px;
	border: 1px solid #DEDEDE;
	padding: 10px;
	align-self: flex-start;
	min-width: 300px;
	outline: none;
}

.header-content {
    width: 100%;
    z-index: 1000;
}

.header-title {
    margin-top: 7rem;
}

.header-title h2{
    margin-top: 3rem;
}

.car-rent {
    width: 20vw;
    transition: transform 0.3s;
    border: none;
}

.car-rent:hover {
    transform: translateY(-5px) ;
}

.card img {
    height: 225px;
    border-bottom: 1px solid black;
    background-color: #171C26;
}

.car-details {
    background-color: #1F2533 ;
}

.car-details * {
    color : white;
}

.car-photo {
    width: 40rem;   
}

.caracteristique {
    width: 13vw;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    border : 1px solid black;
    margin : 1rem 2rem 1rem 0;
    box-shadow: 5px 5px 5px black;
}

.caracteristique p {
    margin-bottom: 0;
}


#contact-page {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), url("../images/audi_1.jpg");
}

#about-page > header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url("../images/business.jpg");
      background-size: cover;
      height: 50vh;
}

@media screen and (max-width: 1400px) {
    h1,h2 {
        text-align: center;
    }
    #car-list {
        justify-content: center;
    }

    .car-rent {
        width: 30vw;
    }

    .caracteristique {
        width: 20vw;
    }

    .search-bar {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .car-photo {
        width: 30rem;
    }
}

@media screen and (max-width: 1000px) {
    .model-container {
        flex-direction: column;
    }

    .car-photo {
        display: block;
        margin: auto;
    }

    .carac-container {
        justify-content: center;
    }

    .caracteristique {
        width: 25vw;
    }
}

@media screen and (max-width: 900px) {
    .car-rent {
        width: 40vw;
    }

    .caracteristique {
        width: 30vw;
    }

    .header-title {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .car-rent {
        width: 60vw;
    }

    .caracteristique {
        width: 60vw;
        margin: 1rem 0;
    }

    .car-photo {
        width: 20rem;
    }

    .header-title p{
        display: none;
    }

   
}


@media screen and (max-width: 600px) {

    .header-content a {
        font-size: 1rem;
    }

    .header-title h2, .header-title h1 {
        font-size: 1.2rem;
    }

    .header-title h2 {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .car-rent {
        width: 90vw;
    }

    .header-title h2 {
        font-size: 1rem;
    }
}